{
  "openapi": "3.0.0",
  "info": {
    "title": "ClawOps API",
    "version": "1.3.0",
    "description": "ClawOps CPaaS API — Voice & Messaging. Authorization 헤더에 Bearer <api_key> 형식으로 인증합니다.",
    "license": {
      "name": "ClawOps API Terms of Service",
      "url": "https://claw-ops.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.claw-ops.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "매니지드 AI 음성 에이전트와 지식 문서의 생성, 조회, 수정 및 삭제"
    },
    {
      "name": "Calls",
      "description": "아웃바운드 전화 발신, 통화 조회 및 제어"
    },
    {
      "name": "Numbers",
      "description": "전화번호 발급, 조회 및 반납"
    },
    {
      "name": "Messages",
      "description": "SMS/LMS/MMS 메시지 발송 및 조회"
    },
    {
      "name": "Webhooks",
      "description": "이벤트 기반 Webhook 관리"
    },
    {
      "name": "AssignmentLinks",
      "description": "관리번호(External Assignment) 발급 링크. external_assignment 애드온이 활성화된 계정만 POST/DELETE가 가능합니다."
    },
    {
      "name": "Dictionaries",
      "description": "통화 받아쓰기(전사) hotwords 사전. 조직/번호별로 도메인 용어의 '들리는 발음형'(term)을 등록해 인식을 교정하고, canonical 을 지정하면 전사 후 표기 치환(예 \"클로옵스\"→\"ClawOps\")을 적용합니다. 번호에 사전을 부착하면 계정 기본 사전 대신 그 사전을 대체 적용(병합 아님)합니다."
    },
    {
      "name": "CallFlows",
      "description": "콜 플로우(결정적 ARS) 조회. 블럭을 조립해 만든 ARS/IVR로, 발신은 createCall의 CallFlowId, 착신은 번호 라우팅(routingType=callflow)으로 연결합니다. 플로우의 생성·편집은 콘솔 빌더에서 하며 API는 읽기 전용입니다. 통화가 수집한 값은 callflow.ended webhook으로 받습니다."
    },
    {
      "name": "CallBatches",
      "description": "배치 발신(캠페인). 명단을 넣으면 동시통화 한도·분당 발신 속도·발신 가능 시간대를 지키며 순차적으로 발신합니다. 대상은 콜 플로우·매니지드 에이전트·VoiceML URL 중 하나입니다. 계정별 활성화가 필요하며, 활성화되지 않은 계정은 생성 시 403 입니다."
    },
    {
      "name": "SipTrunks",
      "description": "BYOC SIP 트렁크 관리. PSTN 인바운드를 외부 PBX로 전달(origination)하기 위한 엔드포인트와 라우트(다이얼 타겟). sip_trunk 애드온이 활성화된 계정만 변경(POST/PUT/DELETE)이 가능합니다."
    },
    {
      "name": "WebRTC",
      "description": "브라우저(WebRTC) / SIP 단말이 ClawOps 게이트웨이에 등록·발신하기 위한 단기 토큰과 ICE/TURN 서버 정보. 영구 SipCredential 1개로부터 짧은 TTL(최대 24시간) JWT 토큰을 발급해서 클라이언트에 전달하는 패턴."
    },
    {
      "name": "MobileGateways",
      "description": "BT 휴대폰(chan_mobile) 게이트웨이 박스를 WireGuard 터널로 ClawOps SIP 에 붙이는 셀프 온보딩. 콘솔에서 1회용 enroll 토큰을 발급하고, 박스가 그 토큰으로 콜홈해 터널 IP 를 자동 할당받는다."
    }
  ],
  "paths": {
    "/v1/accounts/{accountId}/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "에이전트 목록 조회",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAgent",
        "summary": "에이전트 생성",
        "description": "`name`만으로 바로 통화 가능한 한국어 실시간 음성 에이전트를 생성합니다. instructions, greeting, model, voice를 생략하면 ClawOps 기본값이 적용됩니다. API 기본 출력은 GPT Realtime 2.1 mini + Cartesia sonic-3.5 + Minji 음성입니다.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "example": "고객 지원 에이전트"
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 16000,
                    "example": "예약 요청을 확인하고 필요한 정보를 안내하세요.",
                    "description": "생략하면 ClawOps의 범용 한국어 음성 에이전트 프롬프트가 적용됩니다."
                  },
                  "greeting": {
                    "type": "boolean",
                    "default": true,
                    "description": "통화 연결 직후 에이전트가 먼저 인사할지 여부"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "gpt-realtime-2.1",
                      "gpt-realtime-2.1-mini"
                    ],
                    "description": "생략하면 gpt-realtime-2.1-mini가 적용됩니다."
                  },
                  "voice": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Cartesia voice ID. 생략하면 Minji - Modern Communicator (7706804e-ea85-443a-968a-b9bf363bdde8)가 적용됩니다."
                  },
                  "configuration": {
                    "$ref": "#/components/schemas/AgentConfigurationInput",
                    "description": "모델 내장 음성, Realtime + 외부 TTS 또는 STT·LLM·TTS 파이프라인의 전체 실행 설정입니다. 지정하면 model과 voice 단축 필드는 함께 사용할 수 없습니다."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력값 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "다른 계정이 등록한 Cartesia 음성 사용 시도",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/voices": {
      "get": {
        "operationId": "listAgentVoices",
        "summary": "에이전트 음성 목록 조회",
        "description": "ClawOps 기본 Cartesia 한국어 음성과 현재 계정에서 복제해 등록한 사용 가능한 음성을 반환합니다. 반환된 id를 configuration.tts.voice에 사용합니다.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentVoice"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        }
      ],
      "get": {
        "operationId": "getAgent",
        "summary": "에이전트 조회",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAgent",
        "summary": "에이전트 수정",
        "description": "에이전트 이름과 주요 실시간 음성 설정을 수정합니다. model은 OpenAI Realtime 에이전트, voice는 Cartesia 외부 TTS 에이전트에서 변경할 수 있습니다. 그 외 구성은 대시보드에서 변경합니다.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 16000
                  },
                  "greeting": {
                    "type": "boolean"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "gpt-realtime-2.1",
                      "gpt-realtime-2.1-mini"
                    ]
                  },
                  "voice": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Cartesia voice ID"
                  },
                  "configuration": {
                    "$ref": "#/components/schemas/AgentConfigurationInput",
                    "description": "에이전트 실행 설정 전체를 교체합니다. 지정하면 model과 voice 단축 필드는 함께 사용할 수 없습니다."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력값 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "다른 계정이 등록한 Cartesia 음성 사용 시도",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "현재 에이전트 모드에서 model 또는 voice를 API로 변경할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "에이전트 삭제",
        "description": "착신 번호에 연결되지 않은 에이전트를 삭제합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "204": {
            "description": "삭제 성공"
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "에이전트가 착신 번호에 연결되어 있음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/knowledge": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        }
      ],
      "get": {
        "operationId": "listAgentKnowledgeDocuments",
        "summary": "에이전트 지식 문서 목록 조회",
        "description": "등록된 지식 문서와 검색용 문서 조각 수를 최신 등록 순으로 조회합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentKnowledgeDocument"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAgentKnowledgeDocument",
        "summary": "에이전트 지식 문서 등록",
        "description": "텍스트를 직접 등록하거나 텍스트 기반 파일을 업로드합니다. 등록 요청 안에서 텍스트 추출, 청킹과 임베딩을 완료하며 성공한 문서는 즉시 검색할 수 있습니다. 파일과 text를 동시에 보내지 마세요. 추출된 텍스트는 문서당 최대 200,000자입니다.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "text"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "example": "환불 정책"
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200000,
                    "example": "환불은 결제일로부터 7일 이내에 요청할 수 있습니다."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "file"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "생략하면 파일명을 사용합니다."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": ".txt, .text, .md, .markdown 또는 텍스트 기반 .pdf 파일. 최대 10MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "등록 및 검색 색인 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentKnowledgeDocument"
                }
              }
            }
          },
          "400": {
            "description": "입력값 또는 파일 형식 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "파일 또는 추출된 텍스트가 허용 크기를 초과함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "검색용 임베딩 생성 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/knowledge/{documentId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        },
        {
          "name": "documentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "지식 문서 ID"
        }
      ],
      "delete": {
        "operationId": "deleteAgentKnowledgeDocument",
        "summary": "에이전트 지식 문서 삭제",
        "description": "지식 문서와 해당 문서에서 생성된 검색용 문서 조각을 함께 삭제합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "204": {
            "description": "삭제 성공"
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "지식 문서를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/knowledge/{documentId}/reindex": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        },
        {
          "name": "documentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "지식 문서 ID"
        }
      ],
      "post": {
        "operationId": "reindexAgentKnowledgeDocument",
        "summary": "에이전트 지식 문서 재색인",
        "description": "저장된 원문을 다시 청킹하고 현재 임베딩 모델로 검색 데이터를 교체합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "재색인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentKnowledgeDocument"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "지식 문서를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "검색용 임베딩 생성 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls": {
      "post": {
        "operationId": "createCall",
        "summary": "발신 전화 생성",
        "description": "아웃바운드 전화를 발신합니다. From 번호는 계정에 등록된 번호여야 합니다.\n\n**전화 발신**: To에 전화번호를 입력하면 일반 전화로 발신됩니다.\n- 예: `\"To\": \"01012345678\"`\n\n**매니지드 에이전트**: `AgentId`를 지정하면 콘솔에서 만든 AI 에이전트가 통화를 처리합니다.\n\n**Agent SDK**: `Url`, `AgentId`, `CallFlowId`를 모두 생략하면 From 번호에 연결된\nAgent SDK로 통화가 연결됩니다. Agent가 연결되어 있지 않으면 409 에러를 반환합니다.\n\n`Url`, `AgentId`, `CallFlowId`는 서로 배타적입니다. `201 Created`는 발신 요청이\n큐에 들어갔다는 뜻이며 통화 연결 성공을 뜻하지 않습니다. 반환된 `callId`를\n`GET /v1/accounts/{accountId}/calls/{callId}`로 조회해 최종 상태를 확인하세요.\n\n**AI Completion 모드는 종료되었습니다.** AI 필드를 포함한 요청은 410으로 거절됩니다.\nUrl(VoiceML), AgentId, CallFlowId 또는 Agent SDK를 사용하세요.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "To",
                  "From"
                ],
                "properties": {
                  "To": {
                    "type": "string",
                    "description": "수신 전화번호",
                    "example": "01012345678"
                  },
                  "From": {
                    "type": "string",
                    "example": "07052358010",
                    "description": "발신 번호 (계정에 등록된 번호)"
                  },
                  "Url": {
                    "type": "string",
                    "example": "https://my-app.com/voiceml",
                    "description": "통화 연결 시 VoiceML을 반환할 URL. AgentId·CallFlowId와 배타."
                  },
                  "AgentId": {
                    "type": "string",
                    "example": "cmagent123",
                    "description": "콘솔에서 만든 매니지드 에이전트 ID. Url·CallFlowId와 배타."
                  },
                  "CallFlowId": {
                    "type": "string",
                    "example": "cmryw3ycm000001s6on0kp9a8",
                    "description": "콜 플로우(결정적 ARS) ID. 지정하면 그 플로우가 통화를 진행합니다. Url·AgentId와 동시에 사용할 수 없습니다. ID는 `GET /v1/accounts/{accountId}/call-flows`로 조회합니다.\n"
                  },
                  "Variables": {
                    "type": "object",
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    },
                    "example": {
                      "name": "홍길동",
                      "orderId": "A-1234"
                    },
                    "description": "콜 플로우 시작 변수. 멘트·URL·본문의 `{{이름}}`이 이 값으로 치환됩니다. CallFlowId와 함께일 때만 사용할 수 있습니다(단독 지정 시 400).\n\n값은 문자열로 정규화되며 숫자·불리언도 허용합니다. 이름은 영문/숫자/밑줄이어야 하고 숫자로 시작할 수 없습니다. 최대 50개, 전체 8KB. `caller`·`callee`·`recording_url`·`recording_duration`·`http_status`는 통화 중 자동으로 채워지는 예약 변수라 지정할 수 없습니다(400).\n\n지정하지 않은 `{{변수}}`는 빈 문자열로 치환됩니다.\n"
                  },
                  "Timeout": {
                    "type": "integer",
                    "example": 60,
                    "description": "발신 타임아웃 (초). 상대방이 응답하지 않을 때 대기 시간. 기본값: 60"
                  },
                  "StatusCallback": {
                    "type": "string",
                    "example": "https://my-app.com/status",
                    "description": "통화 상태 변경 시 콜백을 받을 URL"
                  },
                  "StatusCallbackEvent": {
                    "type": "string",
                    "example": "initiated ringing answered completed",
                    "description": "수신할 상태 이벤트 목록 (공백 구분). 기본값: initiated ringing answered completed"
                  },
                  "MachineDetection": {
                    "type": "string",
                    "enum": [
                      "Enable",
                      "Hangup"
                    ],
                    "description": "자동응답기/음성사서함 감지(AMD). Enable=감지 후 AnsweredBy 통보(통화 계속), Hangup=음성사서함이면 자동 종료. 미설정 시 비활성(기본).\n"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "To",
                  "From"
                ],
                "properties": {
                  "To": {
                    "type": "string",
                    "description": "수신 번호"
                  },
                  "From": {
                    "type": "string",
                    "description": "발신 번호 (계정에 등록된 번호)"
                  },
                  "Url": {
                    "type": "string",
                    "description": "통화 연결 시 VoiceML을 반환할 URL. AgentId·CallFlowId와 배타."
                  },
                  "AgentId": {
                    "type": "string",
                    "description": "콘솔에서 만든 매니지드 에이전트 ID. Url·CallFlowId와 배타."
                  },
                  "CallFlowId": {
                    "type": "string",
                    "description": "콜 플로우(결정적 ARS) ID. Url·AgentId와 배타."
                  },
                  "Variables": {
                    "type": "string",
                    "example": "{\"name\":\"홍길동\",\"orderId\":\"A-1234\"}",
                    "description": "콜 플로우 시작 변수. form 인코딩에서는 **JSON 객체 문자열**로 보냅니다 (JSON 본문에서는 객체 그대로). 규칙은 JSON 스키마의 Variables와 같습니다.\n"
                  },
                  "Timeout": {
                    "type": "integer",
                    "description": "발신 타임아웃 (초). 기본값: 60"
                  },
                  "StatusCallback": {
                    "type": "string",
                    "description": "통화 상태 변경 시 콜백을 받을 URL"
                  },
                  "StatusCallbackEvent": {
                    "type": "string",
                    "description": "수신할 상태 이벤트 목록 (공백 구분)"
                  },
                  "MachineDetection": {
                    "type": "string",
                    "enum": [
                      "Enable",
                      "Hangup"
                    ],
                    "description": "자동응답기/음성사서함 감지(AMD). Enable=감지 후 AnsweredBy 통보(통화 계속), Hangup=음성사서함이면 자동 종료. 미설정 시 비활성(기본).\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "발신 요청이 큐에 등록됨. 실제 연결 여부는 반환된 callId를 조회해 확인합니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청. 다음 케이스에서 발생:\n  - 필수 파라미터 누락 (To, From)\n  - From 번호 미등록\n  - Url·AgentId·CallFlowId를 동시에 지정\n  - Variables를 CallFlowId 없이 지정하거나 이름·값·크기 규칙 위반\n  - Url 또는 StatusCallback에 내부/사설 주소 지정\n  - To 전화번호 정규화 실패. `code` 필드:\n    - `INVALID_PHONE_NUMBER`: 한국 번호 형식 아님 (포맷 오류, 자릿수 오류, +82-15XX 대표번호 E.164 등)\n    - `UNSUPPORTED_COUNTRY`: 국제 발신 미지원 (+82 외 국가코드)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음 또는 활성 구독 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "AgentId 또는 CallFlowId에 해당하는 대상을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "From 번호에 연결된 Agent가 없습니다 (Url 미지정 시)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "종료된 AI Completion 모드 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "통화 분 할당량 초과, 발신 미지원 플랜 또는 AMD 애드온 비활성",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "동시 통화 한도 초과 (플랜의 maxAgents 초과)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "발신 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "ARI 서비스 준비 안 됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCalls",
        "summary": "통화 목록 조회",
        "description": "계정의 통화 로그를 페이지네이션으로 조회합니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "ringing",
                "in-progress",
                "completed",
                "failed"
              ]
            },
            "description": "통화 상태로 필터링",
            "example": "completed"
          },
          {
            "name": "from",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "example": "07052358010"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "07052358010",
                    "07012345678"
                  ]
                }
              ]
            },
            "description": "발신번호로 필터링. 단일 값 또는 배열 (?from=070...&from=070...)",
            "example": "07052358010"
          },
          {
            "name": "to",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "example": "01012345678"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "01012345678",
                    "07012345678"
                  ]
                }
              ]
            },
            "description": "수신번호로 필터링. 단일 값 또는 배열 (?to=010...&to=010...)",
            "example": "01012345678"
          },
          {
            "name": "number",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "example": "07052358010"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "07052358010",
                    "07012345678"
                  ]
                }
              ]
            },
            "description": "관여 번호로 필터링 (from OR to 매칭). 해당 번호가 발신 또는 수신에 포함된 통화를 조회합니다. 단일 값 또는 배열",
            "example": "07012345678"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "페이지당 항목 수 (최대 100)",
            "example": 20
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "페이지 번호 (0부터 시작)",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "통화 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallListResponse"
                }
              }
            }
          },
          "400": {
            "description": "pageSize 또는 page가 정수가 아닌 경우",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls/{callId}": {
      "get": {
        "operationId": "getCall",
        "summary": "통화 단건 조회",
        "description": "특정 통화의 상세 정보를 조회합니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "통화 ID",
            "example": "CAabcdef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "통화 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateCall",
        "summary": "통화 제어 (종료)",
        "description": "진행 중인 통화를 종료합니다. 현재 Status=completed만 지원합니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "통화 ID",
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Status"
                ],
                "properties": {
                  "Status": {
                    "type": "string",
                    "enum": [
                      "completed"
                    ],
                    "description": "변경할 통화 상태 (현재 completed만 지원)",
                    "example": "completed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "처리 완료",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallControlResponse"
                }
              }
            }
          },
          "400": {
            "description": "지원되지 않는 Status 값",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls/{callId}/events": {
      "get": {
        "operationId": "listCallEvents",
        "tags": [
          "Calls"
        ],
        "summary": "통화 이벤트 조회",
        "description": "특정 통화의 lifecycle 이벤트 리스트를 반환합니다 (고객에게 노출 가능한 필드만 sanitize 됨).\n",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "responses": {
          "200": {
            "description": "이벤트 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallEventListResponse"
                }
              }
            }
          },
          "404": {
            "description": "통화를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls/{callId}/transcript": {
      "get": {
        "operationId": "getTranscript",
        "summary": "통화 전사 조회",
        "description": "통화 전사 상태와 완료된 경우 segment 배열까지 한 번에 반환합니다. 상태는 completed / pending / failed / not_requested 로 구분됩니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "responses": {
          "200": {
            "description": "전사 상태 + (completed 시) segments",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "completed"
                          ]
                        },
                        "callId": {
                          "type": "string"
                        },
                        "segmentCount": {
                          "type": "integer"
                        },
                        "segments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "speaker": {
                                "type": "string",
                                "enum": [
                                  "CUSTOMER",
                                  "AGENT"
                                ]
                              },
                              "start": {
                                "type": "number"
                              },
                              "end": {
                                "type": "number"
                              },
                              "text": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending"
                          ]
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "failed"
                          ]
                        },
                        "stage": {
                          "type": "string",
                          "enum": [
                            "download",
                            "runtime",
                            "trigger"
                          ],
                          "nullable": true
                        },
                        "error": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_requested"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (Bearer 누락/무효)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "전사 파일 로드 실패 또는 DB 일관성 이슈",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "requestTranscript",
        "summary": "통화 전사 명시 요청",
        "description": "조직 설정 \"통화 받아쓰기\"가 꺼져 있어도 특정 통화 1 건에 한해 전사를 실행합니다. 재실행 금지 — 이미 요청된 통화는 409 를 반환합니다. 시스템 레벨 트리거 실패(stage=trigger)만 재시도가 허용됩니다. 전사된 오디오 길이만큼 사용량 기반으로 과금됩니다. Request body 없음.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "responses": {
          "202": {
            "description": "전사 Job 트리거됨",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "callId"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending"
                      ]
                    },
                    "callId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "녹음 없음 — 전사 불가",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (Bearer 누락/무효)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "이미 요청됨 — 현재 상태를 구조화해 반환. completed/pending 은 error 필드에 \"이미 전사가 요청되었습니다\" 가 들어가고, failed 는 GET 응답과 동일 shape(status/stage/error) 로 실제 실패 사유가 error 에 전달됩니다.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "completed/pending: \"이미 전사가 요청되었습니다\". failed: 원래 실패 사유."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "pending",
                        "failed"
                      ]
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "stage": {
                      "type": "string",
                      "enum": [
                        "download",
                        "runtime",
                        "trigger"
                      ],
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "전사 Job 트리거 실패 (call-engine 호출 오류)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "전사 기능이 서버에 구성되지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/recordings/{callId}": {
      "get": {
        "operationId": "getRecording",
        "summary": "통화 녹음 다운로드",
        "description": "완료된 통화의 녹음 파일(WAV)을 스트리밍으로 반환합니다. 녹음이 없거나(call_logs.recordingUrl null) 다른 계정의 통화일 경우 404 를 반환합니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "responses": {
          "200": {
            "description": "녹음 파일 (WAV) 스트림",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "audio/wav"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string"
                }
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "inline; filename=\"CAabcdef1234567890.wav\""
                }
              }
            },
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (Bearer 누락/무효)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없거나 녹음이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "녹음 파일 다운로드 실패 (GCS 오류 등)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRecording",
        "summary": "통화 녹음 삭제",
        "description": "완료된 통화의 녹음을 삭제합니다. 삭제 후 다운로드(GET)는 녹음 없음으로 처리됩니다. 멱등이며, 녹음이 이미 없어도 204 를 반환합니다. 다른 계정의 통화이거나 통화가 없으면 404 입니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "responses": {
          "204": {
            "description": "녹음 삭제 완료 (응답 본문 없음)"
          },
          "401": {
            "description": "인증 실패 (Bearer 누락/무효)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음 (다른 계정)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없거나 다른 계정의 통화",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "녹음 삭제 실패 (DB 오류 등)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/recordings/{callId}/verb/{recordingName}": {
      "get": {
        "operationId": "getVerbRecording",
        "summary": "콜 플로우 녹음 블럭 파일 다운로드",
        "description": "콜 플로우의 녹음 블럭(VoiceML `<Record>`)이 남긴 개별 녹음 파일(WAV)을 반환합니다. 통화 전체 녹음과 달리 한 통화에 여러 개일 수 있어 파일 이름으로 지목합니다. 이 URL 은 `callflow.ended` 웹훅과 배치 발신 결과의 녹음 변수 값으로 전달되며, 만료되지 않으므로 그대로 보관해 두고 필요할 때 조회하면 됩니다. 녹음이 없거나 다른 계정의 통화일 경우 404 를 반환합니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          },
          {
            "name": "recordingName",
            "in": "path",
            "required": true,
            "description": "녹음 변수 값(URL)의 마지막 경로 조각. `verbrec-{callId}-{timestamp}` 형식입니다.",
            "schema": {
              "type": "string"
            },
            "example": "verbrec-CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6-1785218466628"
          }
        ],
        "responses": {
          "200": {
            "description": "녹음 파일 (WAV) 스트림",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "audio/wav"
                }
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "inline; filename=\"verbrec-CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6-1785218466628.wav\""
                }
              }
            },
            "content": {
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (Bearer 누락/무효)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없거나 해당 이름의 녹음이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "녹음 파일 다운로드 실패 (GCS 오류 등)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls/{callId}/summary": {
      "get": {
        "operationId": "getSummary",
        "summary": "통화 요약 조회",
        "description": "transcript 가 완료된 통화에 대해 자동 생성된 LLM 구조화 요약 결과를 조회합니다. 상태는 completed / pending / failed / not_requested 로 구분됩니다. completed 일 때 resultJson 에 조직이 등록한 출력 스키마(또는 기본 스키마)에 맞춘 JSON 이 inline 으로 반환됩니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "responses": {
          "200": {
            "description": "요약 상태 + (completed 시) resultJson",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "callId"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "completed"
                          ]
                        },
                        "callId": {
                          "type": "string"
                        },
                        "resultJson": {
                          "type": "object",
                          "description": "조직 스키마에 맞춰진 요약 결과. 기본 스키마(default:v1) 사용 시 coreSummary / decisions / followUps / sentiment 필드가 보장됩니다.",
                          "additionalProperties": true
                        },
                        "provider": {
                          "type": "string",
                          "example": "anthropic"
                        },
                        "model": {
                          "type": "string",
                          "example": "claude-sonnet-4-6"
                        },
                        "promptVersion": {
                          "type": "string",
                          "description": "기본은 default:v1. 조직 커스텀 프롬프트는 org:{accountId}:{hash}."
                        },
                        "schemaVersion": {
                          "type": "string",
                          "description": "기본은 default:v1. 조직 커스텀 스키마는 org:{accountId}:{hash}."
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "failed"
                          ]
                        },
                        "failedReason": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "not_requested"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (Bearer 누락/무효)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/numbers": {
      "post": {
        "operationId": "registerNumber",
        "summary": "전화번호 발급",
        "description": "번호 풀에서 전화번호를 자동 발급합니다. 계정별 번호 할당량(quota)이 설정되어 있으며, 한도 초과 시 422 에러가 반환됩니다.",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhookUrl": {
                    "type": "string",
                    "example": "https://my-app.com/voice",
                    "description": "수신 전화 처리용 Webhook URL (선택)"
                  },
                  "webhookMethod": {
                    "type": "string",
                    "enum": [
                      "POST",
                      "GET"
                    ],
                    "default": "POST",
                    "description": "Webhook HTTP 메서드 (선택, 기본 POST)"
                  },
                  "webhookHeaders": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "인바운드 webhook 호출 시 추가될 HTTP 헤더 (선택). 키는 \"X-\" prefix 필수\n(case-insensitive), reserved 헤더(X-Signature, X-Forwarded-*, X-Real-IP) 거절.\n최대 10 entries, key ≤ 64 bytes, value ≤ 2048 bytes, ASCII printable.\n",
                    "example": {
                      "X-Webhook-Token": "tenant-secret-abc123"
                    }
                  },
                  "statusCallback": {
                    "type": "string",
                    "nullable": true,
                    "example": "https://my-app.com/call-status",
                    "description": "수신(inbound) 통화 상태 webhook URL (선택). 이 번호로 걸려오는 통화의\n상태 전이(ringing → answered → completed[+busy/rejected])를 POST 통지.\n발신(outbound)은 통화 생성 시 statusCallback 으로 별도 관리.\n"
                  },
                  "statusCallbackEvents": {
                    "type": "string",
                    "nullable": true,
                    "example": "ringing answered completed",
                    "description": "구독할 상태 이벤트(공백 구분, 선택). 미지정 시 기본 전체(ringing answered completed)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "번호 발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음 또는 활성 구독 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "번호 할당량 초과 (Plan 기반)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "번호 발급 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "발급 가능한 번호 없음 또는 서비스 불가",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listNumbers",
        "summary": "번호 목록 조회",
        "description": "계정에 등록된 전화번호 목록을 반환합니다.",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "responses": {
          "200": {
            "description": "번호 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NumberResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/numbers/{number}": {
      "put": {
        "operationId": "updateNumber",
        "summary": "번호 설정 수정",
        "description": "등록된 번호의 설정을 수정합니다. webhookUrl/webhookMethod 외에 routingType/sipEndpointId/sipCredentialId 도 수정 가능합니다. routingType=sip 으로 변경 시 sip_trunk 애드온이 활성화돼 있어야 하며, sipEndpointId 는 같은 계정 소유의 active 엔드포인트(활성 라우트 1개 이상)여야 합니다. routingType=softphone 으로 변경 시에도 sip_trunk 애드온이 필요하며, sipCredentialId 는 같은 계정 소유의 active·enabled SIP credential(등록 단말)이어야 합니다.",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "수정할 전화번호",
            "example": "1001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhookUrl": {
                    "type": "string",
                    "nullable": true,
                    "example": "https://my-app.com/voice",
                    "description": "수신 전화 처리용 Webhook URL"
                  },
                  "webhookMethod": {
                    "type": "string",
                    "enum": [
                      "POST",
                      "GET"
                    ],
                    "description": "Webhook 호출 HTTP 메서드"
                  },
                  "routingType": {
                    "type": "string",
                    "enum": [
                      "webhook",
                      "sip",
                      "softphone",
                      "forward",
                      "agent",
                      "callflow"
                    ],
                    "description": "Agent 미연결/거부 시 fallback 라우팅. 'sip' 로 변경 시 sip_trunk 애드온 + 유효한 sipEndpointId 필요. 'softphone' 으로 변경 시 sip_trunk 애드온 + 유효한 sipCredentialId(등록 단말) 필요. 'forward' 로 변경 시 forwardTo(같은 계정 보유 번호) 필요 — 내부 착신전환. 'agent' 로 변경 시 agentId 필요 — 매니지드 에이전트가 전화를 받습니다. 'callflow' 로 변경 시 callFlowId 필요 — 이 번호로 걸려온 전화를 콜 플로우(결정적 ARS)가 받습니다. 'webhook' 으로 되돌리면 다른 라우팅 ID가 자동으로 null 처리됩니다."
                  },
                  "sipEndpointId": {
                    "type": "string",
                    "nullable": true,
                    "description": "routingType='sip' 일 때 라우팅할 SipEndpoint id. 같은 계정 소유 + status=active + 활성 라우트 1개 이상이어야 함."
                  },
                  "sipCredentialId": {
                    "type": "string",
                    "nullable": true,
                    "description": "routingType='softphone' 일 때 착신할 등록 SIP credential(단말) id. 같은 계정 소유 + status=active + enabled 여야 하며, ephemeral(세션) credential 은 사용 불가."
                  },
                  "forwardTo": {
                    "type": "string",
                    "nullable": true,
                    "description": "routingType='forward' 일 때 내부 착신전환할 대상 번호(같은 계정 보유 번호). 한국 번호 정규화 후 저장."
                  },
                  "callFlowId": {
                    "type": "string",
                    "nullable": true,
                    "description": "routingType='callflow' 일 때 인입을 처리할 콜 플로우 id. 같은 계정 소유여야 합니다. id 는 `GET /v1/accounts/{accountId}/call-flows` 로 조회합니다."
                  },
                  "agentId": {
                    "type": "string",
                    "nullable": true,
                    "description": "routingType='agent' 일 때 인입을 처리할 매니지드 에이전트 id. 같은 계정 소유여야 합니다. id 는 `GET /v1/accounts/{accountId}/agents` 로 조회합니다."
                  },
                  "webhookHeaders": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Inbound webhook 호출 시 추가될 HTTP 헤더. 키는 \"X-\" prefix 필수\n(case-insensitive), reserved 헤더(X-Signature, X-Forwarded-*, X-Real-IP) 거절.\n최대 10 entries, key ≤ 64 bytes, value ≤ 2048 bytes, ASCII printable.\nnull 전송 시 헤더 제거, 미포함 시 변경 없음.\n",
                    "example": {
                      "X-Webhook-Token": "tenant-secret-abc123"
                    }
                  },
                  "statusCallback": {
                    "type": "string",
                    "nullable": true,
                    "example": "https://my-app.com/call-status",
                    "description": "수신(inbound) 통화 상태 webhook URL. 빈 문자열/null 전송 시 해제."
                  },
                  "statusCallbackEvents": {
                    "type": "string",
                    "nullable": true,
                    "example": "ringing answered completed",
                    "description": "구독할 상태 이벤트(공백 구분). 미지정 시 기본 전체."
                  },
                  "dictionaryId": {
                    "type": "string",
                    "nullable": true,
                    "description": "받아쓰기 사전 부착. 같은 계정 소유 사전 id 를 지정하면 이 번호로 걸려온 통화 전사에 해당 사전을 대체 적용(병합 아님). null 전송 시 부착 해제(계정 기본 사전 폴백). 미포함 시 변경 없음."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 — 수정할 필드 없음 / webhookMethod 부적합 / routingType 부적합 / routingType=sip 인데 sipEndpointId 없음 / 엔드포인트 소유권 없음 / routingType=softphone 인데 sipCredentialId 없음 / credential 소유권 없음(VALIDATION, INVALID_ENDPOINT, INVALID_CREDENTIAL)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "번호 소유권 없음 또는 sip_trunk 애드온 비활성(FEATURE_DISABLED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "번호를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "엔드포인트 비활성(ENDPOINT_INACTIVE) / 활성 라우트 없음(NO_ACTIVE_ROUTES) / SIP 단말 비활성(CREDENTIAL_INACTIVE)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteNumber",
        "summary": "번호 삭제",
        "description": "등록된 번호를 삭제합니다. 번호는 풀로 복귀됩니다.",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "삭제할 전화번호",
            "example": "07012340001"
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 성공 (본문 없음)"
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "번호 소유권 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "번호를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "번호 삭제 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "번호 반납 기능 사용 불가",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/representative-numbers": {
      "post": {
        "operationId": "createRepresentativeNumber",
        "summary": "대표번호 발급",
        "description": "대표번호 풀에서 전화번호를 발급합니다. `representative_number` 부가서비스가 활성화된 계정에서만 발급할 수 있습니다.\n법인 계정은 법인 인증(business_snapshot)이 완료되어 있어야 합니다.\n",
        "tags": [
          "Numbers"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "responses": {
          "201": {
            "description": "대표번호 발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "representative_number 부가서비스가 활성화되어 있지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음 또는 활성 구독 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "대표번호 풀이 비어있음 또는 법인 인증 미완료",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "번호 발급 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "번호 발급 기능을 사용할 수 없음 (provisioner 미가용)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "메시지 발송",
        "description": "SMS/LMS/MMS 메시지를 발송합니다. From 번호는 계정에 등록된 번호여야 합니다.\n\nKCT 통합메시징 Agent를 통해 실제 발송되며, 발송 결과는 webhook으로 비동기 수신합니다.\n\n### 메시지 타입별 사용법\n\n**SMS** (단문, 200byte 이하):\n```json\n{ \"To\": \"010...\", \"From\": \"070...\", \"Body\": \"안녕하세요\" }\n```\n\n**LMS** (장문, 2000자 이하, 첨부 없음):\n```json\n{ \"To\": \"010...\", \"From\": \"070...\", \"Body\": \"긴 내용...\", \"Type\": \"lms\", \"Subject\": \"제목\" }\n```\n\n**MMS** (이미지 첨부, 최대 3개):\n```json\n{ \"To\": \"010...\", \"From\": \"070...\", \"Body\": \"사진\", \"Type\": \"mms\", \"MediaUrl\": [\"https://example.com/photo.jpg\"] }\n```",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "To",
                  "From",
                  "Body"
                ],
                "properties": {
                  "To": {
                    "type": "string",
                    "description": "수신 번호",
                    "example": "01012345678"
                  },
                  "From": {
                    "type": "string",
                    "description": "발신 번호 (계정에 등록된 번호)",
                    "example": "07052358010"
                  },
                  "Body": {
                    "type": "string",
                    "description": "메시지 본문",
                    "example": "안녕하세요"
                  },
                  "Type": {
                    "type": "string",
                    "enum": [
                      "sms",
                      "lms",
                      "mms"
                    ],
                    "default": "sms",
                    "description": "메시지 유형 (기본: sms)"
                  },
                  "Subject": {
                    "type": "string",
                    "description": "메시지 제목 (LMS/MMS에서 사용)",
                    "example": "알림"
                  },
                  "MediaUrl": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "maxItems": 3,
                    "description": "MMS 첨부 이미지 URL (최대 3개). jpg, jpeg, png, bmp만 지원. 장당 300KB 이하.\n\n- Type이 sms일 때는 사용 불가\n- Type이 mms이고 MediaUrl이 없으면 LMS로 전송\n- Type이 mms이고 MediaUrl이 있으면 MMS로 전송",
                    "example": [
                      "https://example.com/image.jpg"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "발송 요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음 또는 활성 구독 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "SMS 할당량 초과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listMessages",
        "summary": "메시지 목록 조회",
        "description": "계정의 메시지 발송/수신 이력을 페이지네이션으로 조회합니다.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "sms",
                "lms",
                "mms"
              ]
            },
            "description": "메시지 유형 필터",
            "example": "sms"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "sent",
                "failed",
                "received"
              ]
            },
            "description": "상태 필터",
            "example": "sent"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "페이지당 항목 수",
            "example": 20
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "페이지 번호",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "메시지 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageListResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/messages/{messageId}": {
      "get": {
        "operationId": "getMessage",
        "summary": "메시지 단건 조회",
        "description": "특정 메시지의 상세 정보를 조회합니다.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "메시지 ID",
            "example": "MGabcdef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "메시지 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "메시지를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/messages/{messageId}/media/{index}": {
      "get": {
        "operationId": "getMessageMedia",
        "summary": "메시지 첨부 미디어 조회",
        "description": "메시지에 첨부된 이미지/미디어 파일을 조회합니다. mediaUrl 배열의 인덱스를 지정합니다.",
        "tags": [
          "Messages"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "메시지 ID",
            "example": "MM1a2b3c4d5e6f7a8b"
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "미디어 인덱스 (0부터)",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "미디어 파일 바이너리",
            "content": {
              "image/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "메시지 또는 미디어를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/webhooks": {
      "post": {
        "operationId": "createWebhook",
        "summary": "Webhook 등록",
        "description": "이벤트 알림을 받을 webhook URL을 등록합니다. 하나의 계정에 여러 webhook을 등록할 수 있습니다.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Webhook URL",
                    "example": "https://my-app.com/webhook"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "message.sent",
                        "message.failed",
                        "message.received",
                        "transcript.completed",
                        "transcript.failed",
                        "summary.completed",
                        "summary.failed",
                        "recording.completed",
                        "recording.failed",
                        "agent.disconnected",
                        "agent.connected",
                        "callflow.ended"
                      ]
                    },
                    "description": "구독할 이벤트 목록",
                    "example": [
                      "message.sent",
                      "transcript.completed",
                      "recording.completed"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWebhooks",
        "summary": "Webhook 목록 조회",
        "description": "계정에 등록된 webhook 목록을 반환합니다.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
[...]
