{
  "openapi": "3.0.0",
  "info": {
    "title": "ClawOps API",
    "version": "1.3.2",
    "description": "ClawOps CPaaS API — Voice & Messaging. Authorization 헤더에 Bearer <api_key> 형식으로 인증합니다.",
    "license": {
      "name": "ClawOps API Terms of Service",
      "url": "https://claw-ops.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.claw-ops.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Agents",
      "description": "매니지드 AI 음성 에이전트와 지식 문서의 생성, 조회, 수정 및 삭제"
    },
    {
      "name": "Calls",
      "description": "아웃바운드 전화 발신, 통화 조회 및 제어"
    },
    {
      "name": "Numbers",
      "description": "전화번호 발급, 조회 및 반납"
    },
    {
      "name": "Messages",
      "description": "SMS/LMS/MMS 문자와 카카오 알림톡·브랜드 메시지 발송 및 조회"
    },
    {
      "name": "KakaoChannels",
      "description": "카카오 비즈니스 채널 연결. 담당자 휴대전화로 받은 인증번호로 채널 소유를 증명해 계정에 연결하고, 연결 상태를 조회합니다. 인증번호는 담당자 휴대전화로만 전달되며 API 응답에 실리지 않습니다. 채널 목록이 반환하는 ClawOps 리소스 ID를 상세 조회·연결 해제·알림톡 발송에 사용합니다. 외부 메시지 공급자의 식별자는 공개 API에 노출하지 않습니다."
    },
    {
      "name": "KakaoTemplates",
      "description": "연결된 채널에서 사용할 수 있는 알림톡 템플릿을 조회합니다. 응답의 `id`는 알림톡 발송 요청의 `Kakao.TemplateId`에 사용하는 ClawOps 리소스 ID입니다."
    },
    {
      "name": "KakaoBrandTemplates",
      "description": "연결된 채널에서 사용할 수 있는 브랜드 메시지 템플릿을 조회합니다. 응답의 `id`는 브랜드 메시지 발송 요청의 `Brand.TemplateId`에 사용하는 ClawOps 리소스 ID입니다."
    },
    {
      "name": "Emails",
      "description": "이메일 발송. 검증된 발신 도메인의 주소로 메일을 보냅니다. 첨부는 URL 로 전달하며 우리가 서버에서 내려받아 붙입니다. ⚠️ 과금 단위는 \"통\"이 아니라 **수신자**입니다 — 한 통을 3명에게 보내면 3건입니다."
    },
    {
      "name": "EmailDomains",
      "description": "이메일 발신 도메인. 소유한 도메인을 등록하고, 받은 DNS 레코드(CNAME 3건)를 심어 소유를 증명하면 그 도메인으로 발신할 수 있게 됩니다. 등록만으로는 발신되지 않습니다 — DNS 설정 후 검증 API 를 호출해 `verified` 를 확인해야 합니다.\n\n한 도메인은 ClawOps 전체에서 한 계정만 소유합니다. 루트 도메인과 하위 도메인은 별개 리소스이며, `claw-ops.com` 등 ClawOps 가 사용하는 도메인은 등록할 수 없습니다."
    },
    {
      "name": "Webhooks",
      "description": "이벤트 기반 Webhook 관리"
    },
    {
      "name": "AssignmentLinks",
      "description": "관리번호(External Assignment) 발급 링크. external_assignment 애드온이 활성화된 계정만 POST/DELETE가 가능합니다."
    },
    {
      "name": "Dictionaries",
      "description": "통화 받아쓰기(전사) hotwords 사전. 조직/번호별로 도메인 용어의 '들리는 발음형'(term)을 등록해 인식을 교정하고, canonical 을 지정하면 전사 후 표기 치환(예 \"클로옵스\"→\"ClawOps\")을 적용합니다. 번호에 사전을 부착하면 계정 기본 사전 대신 그 사전을 대체 적용(병합 아님)합니다."
    },
    {
      "name": "BlockedRecipients",
      "description": "수신거부(DNC) 명단. 광고 문자 하단의 080 무료수신거부, ARS의 \"수신거부 9번\", 상담 중 구두 요청 등으로 접수된 번호를 계정 단위로 관리합니다. 전화와 문자는 각각 따로 차단하고, 해제해도 항목은 이력으로 남습니다. 대상은 이 계정의 **발신**(전화·문자)이며 착신은 대상이 아닙니다.\n\n등록하면 **발신이 실제로 막힙니다.** 통화 생성·메시지 발송이 발신 직전에 이 명단을 조회해 `422 recipient_blocked` 로 거절하며, 배치 발신(캠페인)도 같은 관문을 지나므로 해당 대상은 자동으로 건너뜁니다. 막힌 통화는 통화기록에 `hangup_cause=recipient_blocked` 로 남습니다."
    },
    {
      "name": "CallFlows",
      "description": "콜 플로우(결정적 ARS) 조회·생성·수정·삭제. 블럭을 조립해 만든 ARS/IVR로, 발신은 createCall의 CallFlowId, 착신은 번호 라우팅(routingType=callflow)으로 연결합니다. 콘솔 빌더와 **같은 그래프 포맷**을 주고받으므로 API로 만든 플로우도 콘솔에서 그대로 열립니다. 통화가 수집한 값은 callflow.ended webhook으로 받습니다."
    },
    {
      "name": "CallBatches",
      "description": "배치 발신(캠페인). 명단을 넣으면 동시통화 한도·분당 발신 속도·발신 가능 시간대를 지키며 순차적으로 발신합니다. 대상은 콜 플로우·매니지드 에이전트·VoiceML URL 중 하나입니다. 계정별 활성화가 필요하며, 활성화되지 않은 계정은 생성 시 403 입니다."
    },
    {
      "name": "SipTrunks",
      "description": "BYOC SIP 트렁크 관리. PSTN 인바운드를 외부 PBX로 전달(origination)하기 위한 엔드포인트와 라우트(다이얼 타겟). sip_trunk 애드온이 활성화된 계정만 변경(POST/PUT/DELETE)이 가능합니다."
    },
    {
      "name": "AssignmentSessions",
      "description": "일회용 고엔트로피 토큰으로 진행하는 최종이용자 관리번호 발급 세션"
    },
    {
      "name": "WebRTC",
      "description": "브라우저(WebRTC) / SIP 단말이 ClawOps 게이트웨이에 등록·발신하기 위한 단기 토큰과 ICE/TURN 서버 정보. 영구 SipCredential 1개로부터 짧은 TTL(최대 24시간) JWT 토큰을 발급해서 클라이언트에 전달하는 패턴."
    },
    {
      "name": "Usage",
      "description": "사용량 집계 조회. 통화 목록을 직접 합산하는 것과 달리 사후 정정과 청구 주기 경계가 반영된 확정값을 돌려줍니다. 관리번호 파트너는 groupBy=linkId 로 최종이용자별 사용량을 분리해 정산에 씁니다."
    },
    {
      "name": "MobileGateways",
      "description": "BT 휴대폰(chan_mobile) 게이트웨이 박스를 WireGuard 터널로 ClawOps SIP 에 붙이는 셀프 온보딩. 콘솔에서 1회용 enroll 토큰을 발급하고, 박스가 그 토큰으로 콜홈해 터널 IP 를 자동 할당받는다."
    }
  ],
  "paths": {
    "/v1/assignment-sessions/{token}": {
      "get": {
        "operationId": "getAssignmentSession",
        "summary": "최종이용자 발급 세션 조회",
        "tags": [
          "AssignmentSessions"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AssignmentSessionToken"
          }
        ],
        "responses": {
          "200": {
            "description": "세션 상태",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "step",
                    "orgName",
                    "brandLogoUrl",
                    "brandServiceName",
                    "brandColor",
                    "returnUrl",
                    "subscriberType",
                    "assignedNumber"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "consumed",
                        "revoked"
                      ]
                    },
                    "step": {
                      "type": "string",
                      "enum": [
                        "selectType",
                        "consents",
                        "verify",
                        "businessInfo",
                        "ready",
                        "done"
                      ]
                    },
                    "orgName": {
                      "type": "string"
                    },
                    "brandLogoUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "brandServiceName": {
                      "type": "string",
                      "nullable": true
                    },
                    "brandColor": {
                      "type": "string",
                      "nullable": true
                    },
                    "returnUrl": {
                      "type": "string",
                      "nullable": true
                    },
                    "subscriberType": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "individual",
                        "corporate"
                      ]
                    },
                    "assignedNumber": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "관리번호 외부 발급 애드온 비활성"
          },
          "404": {
            "description": "세션을 찾을 수 없음"
          },
          "410": {
            "description": "만료 또는 취소된 세션"
          }
        }
      }
    },
    "/v1/assignment-sessions/{token}/subscriber-type": {
      "post": {
        "operationId": "setAssignmentSessionSubscriberType",
        "summary": "가입자 유형 선택",
        "tags": [
          "AssignmentSessions"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AssignmentSessionToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "subscriberType"
                ],
                "properties": {
                  "subscriberType": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "corporate"
                    ]
                  }
                }
              },
              "example": {
                "subscriberType": "individual"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "저장 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "관리번호 외부 발급 애드온 비활성"
          },
          "404": {
            "description": "세션을 찾을 수 없음"
          },
          "409": {
            "description": "이미 사용된 세션"
          },
          "410": {
            "description": "만료 또는 취소된 세션"
          },
          "422": {
            "description": "입력 검증 실패"
          }
        }
      }
    },
    "/v1/assignment-sessions/{token}/consents": {
      "post": {
        "operationId": "recordAssignmentSessionConsents",
        "summary": "약관 동의 증적 기록",
        "tags": [
          "AssignmentSessions"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AssignmentSessionToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "items"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "clauseKey",
                        "agreed"
                      ],
                      "properties": {
                        "clauseKey": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "agreed": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "items": [
                  {
                    "clauseKey": "management.terms",
                    "agreed": true
                  },
                  {
                    "clauseKey": "management.account",
                    "agreed": true
                  },
                  {
                    "clauseKey": "management.privacy",
                    "agreed": true
                  },
                  {
                    "clauseKey": "management.thirdParty",
                    "agreed": true
                  },
                  {
                    "clauseKey": "management.marketing",
                    "agreed": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "기록 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "관리번호 외부 발급 애드온 비활성"
          },
          "409": {
            "description": "가입자 유형 미선택 등 단계 오류"
          },
          "422": {
            "description": "필수 동의 누락"
          }
        }
      }
    },
    "/v1/assignment-sessions/{token}/identity-verifications": {
      "post": {
        "operationId": "startAssignmentSessionIdentityVerification",
        "summary": "본인인증 시작",
        "tags": [
          "AssignmentSessions"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AssignmentSessionToken"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "링크에 바인딩된 인증 ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "identityVerificationId"
                  ],
                  "properties": {
                    "identityVerificationId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "관리번호 외부 발급 애드온 비활성"
          },
          "409": {
            "description": "단계 오류"
          },
          "422": {
            "description": "필수 동의 누락"
          },
          "429": {
            "description": "시도 제한 초과"
          }
        }
      }
    },
    "/v1/assignment-sessions/{token}/identity-verifications/resume": {
      "post": {
        "operationId": "resumeAssignmentSessionIdentityVerification",
        "summary": "PortOne 본인인증 결과 검증 및 저장",
        "tags": [
          "AssignmentSessions"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AssignmentSessionToken"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "인증 결과 저장 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "kycSnapshotId"
                  ],
                  "properties": {
                    "kycSnapshotId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "관리번호 외부 발급 애드온 비활성"
          },
          "409": {
            "description": "인증 미완료, 단계 오류 또는 명의당 발급 한도 초과"
          },
          "502": {
            "description": "인증 제공자 조회 실패"
          }
        }
      }
    },
    "/v1/assignment-sessions/{token}/finalize": {
      "post": {
        "operationId": "finalizeAssignmentSession",
        "summary": "번호 풀 점유 및 발급 완료",
        "tags": [
          "AssignmentSessions"
        ],
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/AssignmentSessionToken"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "번호 발급 완료",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "assignedNumber"
                  ],
                  "properties": {
                    "assignedNumber": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "관리번호 외부 발급 애드온 비활성"
          },
          "409": {
            "description": "단계 오류, 번호 재고 또는 한도 부족"
          },
          "422": {
            "description": "필수 동의 누락"
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "에이전트 목록 조회",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAgent",
        "summary": "에이전트 생성",
        "description": "`name`만으로 바로 통화 가능한 한국어 실시간 음성 에이전트를 생성합니다. instructions, greeting, model, voice를 생략하면 ClawOps 기본값이 적용됩니다. API 기본 출력은 GPT Realtime 2.1 mini + Cartesia sonic-3.5 + Minji 음성입니다.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "example": "고객 지원 에이전트"
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 16000,
                    "example": "예약 요청을 확인하고 필요한 정보를 안내하세요.",
                    "description": "생략하면 ClawOps의 범용 한국어 음성 에이전트 프롬프트가 적용됩니다."
                  },
                  "greeting": {
                    "type": "boolean",
                    "default": true,
                    "description": "통화 연결 직후 에이전트가 먼저 인사할지 여부"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "gpt-realtime-2.1",
                      "gpt-realtime-2.1-mini"
                    ],
                    "description": "생략하면 gpt-realtime-2.1-mini가 적용됩니다."
                  },
                  "voice": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Cartesia voice ID. 생략하면 Minji - Modern Communicator (7706804e-ea85-443a-968a-b9bf363bdde8)가 적용됩니다."
                  },
                  "configuration": {
                    "$ref": "#/components/schemas/AgentConfigurationInput",
                    "description": "모델 내장 음성, Realtime + 외부 TTS, STT·LLM·TTS 파이프라인 또는 GPT-Live(전이중)의 전체 실행 설정입니다. 지정하면 model과 voice 단축 필드는 함께 사용할 수 없습니다."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력값 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "다른 계정이 등록한 Cartesia 음성 사용 시도",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/voices": {
      "get": {
        "operationId": "listAgentVoices",
        "summary": "에이전트 음성 목록 조회",
        "description": "ClawOps 기본 Cartesia 한국어 음성과 현재 계정에서 복제해 등록한 사용 가능한 음성을 반환합니다. 반환된 id를 configuration.tts.voice에 사용합니다.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentVoice"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/voice-clones": {
      "get": {
        "operationId": "listVoiceClones",
        "summary": "복제 음성 목록 조회",
        "description": "현재 계정이 등록한 복제 음성의 상태와 Agent 설정에 사용할 voice ID를 반환합니다.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d",
            "description": "계정 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VoiceCloneResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createVoiceClone",
        "summary": "녹음으로 음성 복제",
        "description": "사용 권리를 확인한 짧은 음성 파일을 복제하고 Agent의 voice로 사용할 ID를 반환합니다.\n원본 오디오는 요청 메모리에서 공급자로 전달한 뒤 즉시 지우며 ClawOps 저장소에 보관하지 않습니다.\n이 API로 만든 음성에는 미리듣기 샘플이 없습니다(콘솔에서 등록한 음성만 생성합니다).\n계정당 시간당 약 10회로 제한됩니다.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d",
            "description": "계정 ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "consent",
                  "clip"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 60
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "consent": {
                    "type": "string",
                    "example": "true",
                    "description": "업로더가 이 목소리를 사용할 권리가 있음을 확인해야 합니다. `true` 또는 `on`."
                  },
                  "clip": {
                    "type": "string",
                    "format": "binary",
                    "description": "최대 10MB의 wav, mp3, flac, ogg, webm 또는 m4a 음성 파일"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "복제 완료",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceCloneResponse"
                }
              }
            }
          },
          "400": {
            "description": "파일 또는 동의 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "파일 크기 초과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "시간당 생성 한도 초과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "음성 공급자 처리 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/voice-clones/{voiceCloneId}": {
      "delete": {
        "operationId": "deleteVoiceClone",
        "summary": "복제 음성 삭제",
        "description": "계정 소유 복제 음성을 공급자와 ClawOps에서 삭제합니다. Agent나 Call Flow에서 사용 중이면 먼저 분리해야 합니다.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "AC1a2b3c4d",
            "description": "계정 ID"
          },
          {
            "name": "voiceCloneId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "vo_1a2b3c4d",
            "description": "복제 음성 ID"
          }
        ],
        "responses": {
          "204": {
            "description": "삭제 완료"
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "음성을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Agent 또는 Call Flow에서 사용 중",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "음성 공급자 삭제 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        }
      ],
      "get": {
        "operationId": "getAgent",
        "summary": "에이전트 조회",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAgent",
        "summary": "에이전트 수정",
        "description": "에이전트 이름과 주요 실시간 음성 설정을 수정합니다. model은 OpenAI Realtime 에이전트, voice는 Cartesia 외부 TTS 에이전트에서 변경할 수 있습니다. 그 외 구성은 대시보드에서 변경합니다.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 16000
                  },
                  "greeting": {
                    "type": "boolean"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "gpt-realtime-2.1",
                      "gpt-realtime-2.1-mini"
                    ]
                  },
                  "voice": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Cartesia voice ID"
                  },
                  "configuration": {
                    "$ref": "#/components/schemas/AgentConfigurationInput",
                    "description": "에이전트 실행 설정 전체를 교체합니다. 지정하면 model과 voice 단축 필드는 함께 사용할 수 없습니다."
                  }
                }
              },
              "example": {
                "name": "야간 고객 지원 에이전트"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "입력값 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "다른 계정이 등록한 Cartesia 음성 사용 시도",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "현재 에이전트 모드에서 model 또는 voice를 API로 변경할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgent",
        "summary": "에이전트 삭제",
        "description": "착신 번호에 연결되지 않은 에이전트를 삭제합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "204": {
            "description": "삭제 성공"
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "에이전트가 착신 번호에 연결되어 있음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/knowledge": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        }
      ],
      "get": {
        "operationId": "listAgentKnowledgeDocuments",
        "summary": "에이전트 지식 문서 목록 조회",
        "description": "등록된 지식 문서와 검색용 문서 조각 수를 최신 등록 순으로 조회합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentKnowledgeDocument"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAgentKnowledgeDocument",
        "summary": "에이전트 지식 문서 등록",
        "description": "텍스트를 직접 등록하거나 텍스트 기반 파일을 업로드합니다. 등록 요청 안에서 텍스트 추출, 청킹과 임베딩을 완료하며 성공한 문서는 즉시 검색할 수 있습니다. 파일과 text를 동시에 보내지 마세요. 추출된 텍스트는 문서당 최대 200,000자입니다.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "text"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "example": "환불 정책"
                  },
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200000,
                    "example": "환불은 결제일로부터 7일 이내에 요청할 수 있습니다."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "file"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "생략하면 파일명을 사용합니다."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": ".txt, .text, .md, .markdown 또는 텍스트 기반 .pdf 파일. 최대 10MB."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "등록 및 검색 색인 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentKnowledgeDocument"
                }
              }
            }
          },
          "400": {
            "description": "입력값 또는 파일 형식 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "파일 또는 추출된 텍스트가 허용 크기를 초과함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "검색용 임베딩 생성 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/knowledge/{documentId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        },
        {
          "name": "documentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "지식 문서 ID"
        }
      ],
      "delete": {
        "operationId": "deleteAgentKnowledgeDocument",
        "summary": "에이전트 지식 문서 삭제",
        "description": "지식 문서와 해당 문서에서 생성된 검색용 문서 조각을 함께 삭제합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "204": {
            "description": "삭제 성공"
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "지식 문서를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/knowledge/{documentId}/reindex": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        },
        {
          "name": "documentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "지식 문서 ID"
        }
      ],
      "post": {
        "operationId": "reindexAgentKnowledgeDocument",
        "summary": "에이전트 지식 문서 재색인",
        "description": "저장된 원문을 다시 청킹하고 현재 임베딩 모델로 검색 데이터를 교체합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "재색인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentKnowledgeDocument"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "지식 문서를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "검색용 임베딩 생성 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/mcp-connections": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        }
      ],
      "get": {
        "operationId": "listAgentMcpConnections",
        "summary": "에이전트에 연결된 외부 MCP 목록 조회",
        "description": "이 에이전트가 통화에서 사용할 MCP 연결과 허용된 도구를 조회합니다. missingTools 가 비어있지 않으면 서버 쪽 도구가 바뀐 것입니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentMcpBinding"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/agents/{agentId}/mcp-connections/{connectionId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "agentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "에이전트 ID"
        },
        {
          "name": "connectionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "MCP 연결 ID"
        }
      ],
      "put": {
        "operationId": "setAgentMcpConnection",
        "summary": "에이전트에 외부 MCP 연결·도구 지정",
        "description": "에이전트가 사용할 도구를 지정합니다(멱등). allowedTools 에 넣은 도구만 모델에 노출되며, 같은 연결이라도 에이전트마다 다른 도구를 허용할 수 있습니다.\n\n도구는 1개 이상이어야 하고, 연결 테스트에서 발견된 도구여야 합니다. 연결은 status=tested 이고 enabled 여야 합니다.\n\n저장 즉시 다음 통화부터 적용됩니다(에이전트 설정 저장과 별개).",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "allowedTools"
                ],
                "properties": {
                  "allowedTools": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "get_reservation"
                    ]
                  },
                  "failureMode": {
                    "type": "string",
                    "enum": [
                      "continue",
                      "fail_session"
                    ],
                    "default": "continue",
                    "description": "continue 는 MCP 서버 장애 시 그 도구만 빼고 통화를 계속합니다. fail_session 은 연결 실패 시 세션 시작을 실패시킵니다.",
                    "example": "continue"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "지정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentMcpBinding"
                }
              }
            }
          },
          "400": {
            "description": "도구 목록 검증 실패(0개, 중복, 연결에 없는 도구 등)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트 또는 연결을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "연결이 비활성화됐거나(MCP_CONNECTION_DISABLED) 아직 테스트를 통과하지 않았거나(MCP_CONNECTION_UNTESTED) 에이전트당 연결 수 상한(3개)을 넘음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAgentMcpConnection",
        "summary": "에이전트에서 외부 MCP 연결 해제",
        "description": "연결 자체는 삭제하지 않고 이 에이전트에서만 해제합니다. 다음 통화부터 도구가 빠집니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "해제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "에이전트·연결을 찾을 수 없거나 연결되어 있지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/mcp-connections": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        }
      ],
      "get": {
        "operationId": "listMcpConnections",
        "summary": "외부 MCP 연결 목록 조회",
        "description": "계정에 등록된 외부 MCP 서버 연결을 최신 등록 순으로 조회합니다. 자격증명은 포함되지 않습니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/McpConnection"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMcpConnection",
        "summary": "외부 MCP 연결 등록",
        "description": "에이전트가 사용할 원격 MCP 서버를 등록합니다. url 은 공개 인터넷에서 접근 가능한 https 주소여야 하며(포트는 443만), 자격증명은 query 가 아닌 인증 설정으로 전달합니다.\n\n등록 직후 상태는 untested 입니다. 에이전트에 연결하려면 먼저 연결 테스트를 통과해야 합니다.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "url"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 80,
                    "example": "예약 CRM"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "description": "https 전용. 포트는 생략하거나 443. 사설/내부 주소는 등록할 수 없습니다.",
                    "example": "https://crm.example.com/mcp"
                  },
                  "transport": {
                    "type": "string",
                    "enum": [
                      "streamable_http",
                      "sse"
                    ],
                    "default": "streamable_http",
                    "description": "sse 는 호환용 legacy 입니다.",
                    "example": "streamable_http"
                  },
                  "authType": {
                    "type": "string",
                    "enum": [
                      "none",
                      "bearer",
                      "api_key"
                    ],
                    "default": "none",
                    "example": "bearer"
                  },
                  "headerName": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "authType=api_key 일 때만 사용합니다. Authorization·Host·Cookie 등 예약 헤더는 사용할 수 없습니다(Bearer 가 필요하면 authType=bearer 를 쓰세요).",
                    "example": "X-Api-Key"
                  },
                  "secret": {
                    "type": "string",
                    "maxLength": 8192,
                    "description": "authType 이 none 이 아닐 때 필수. 저장 시 암호화되며 **다시 조회할 수 없습니다**.",
                    "example": "sk-live-0123456789"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "등록 성공(연결 테스트 전이므로 status=untested)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpConnection"
                }
              }
            }
          },
          "400": {
            "description": "url/인증 입력값 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/mcp-connections/{connectionId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "connectionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "MCP 연결 ID"
        }
      ],
      "get": {
        "operationId": "getMcpConnection",
        "summary": "외부 MCP 연결 조회",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpConnection"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "연결을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateMcpConnection",
        "summary": "외부 MCP 연결 수정",
        "description": "이름과 활성화 여부, 접속 정보를 수정합니다.\n\n**url 또는 transport 를 바꾸면** 기존 도구 목록을 폐기하고 status 가 untested 로 돌아갑니다. 다른 서버를 가리키게 된 연결이 옛 도구 목록으로 통화에 사용되지 않도록 하기 위해서입니다. 에이전트 연결(binding)은 유지되며, 연결 테스트를 다시 통과하면 그대로 다시 동작합니다.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 80,
                    "example": "예약 CRM(운영)"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048,
                    "example": "https://crm.example.com/mcp"
                  },
                  "transport": {
                    "type": "string",
                    "enum": [
                      "streamable_http",
                      "sse"
                    ],
                    "example": "streamable_http"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "false 로 두면 통화에서 사용되지 않습니다.",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpConnection"
                }
              }
            }
          },
          "400": {
            "description": "입력값 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "연결을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteMcpConnection",
        "summary": "외부 MCP 연결 삭제",
        "description": "연결을 삭제하고 이 연결을 쓰던 모든 에이전트에서 즉시 제거합니다. 응답의 affectedAgents 로 영향받은 에이전트를 확인할 수 있습니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted",
                    "affectedAgents"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "example": true
                    },
                    "affectedAgents": {
                      "type": "array",
                      "description": "이 연결을 사용하고 있던 에이전트.",
                      "items": {
                        "type": "object",
                        "required": [
                          "agentId",
                          "name"
                        ],
                        "properties": {
                          "agentId": {
                            "type": "string",
                            "example": "clx0agent000000000000001"
                          },
                          "name": {
                            "type": "string",
                            "example": "예약 상담 에이전트"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "연결을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/mcp-connections/{connectionId}/credential": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "connectionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "MCP 연결 ID"
        }
      ],
      "post": {
        "operationId": "rotateMcpCredential",
        "summary": "외부 MCP 연결 자격증명 교체",
        "description": "자격증명을 교체합니다. 기본 동작은 **검증 후 교체**입니다 — 새 자격증명으로 실제 연결에 성공한 뒤에야 저장하므로, 잘못된 값으로 정상 연결을 덮어써 통화가 망가지는 일이 없습니다.\n\n러너에 접근할 수 없는 등 검증이 불가능한 상황에서는 force=true 로 검증 없이 저장할 수 있습니다. 이 경우 status 가 untested 가 되어 **통화에서는 사용되지 않으며**, 이후 연결 테스트를 통과해야 다시 사용됩니다.\n\n응답에는 자격증명이 포함되지 않습니다.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "authType"
                ],
                "properties": {
                  "authType": {
                    "type": "string",
                    "enum": [
                      "none",
                      "bearer",
                      "api_key"
                    ],
                    "description": "none 으로 바꾸면 저장된 자격증명이 제거됩니다.",
                    "example": "bearer"
                  },
                  "headerName": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "authType=api_key 일 때만 사용합니다.",
                    "example": "X-Api-Key"
                  },
                  "secret": {
                    "type": "string",
                    "maxLength": 8192,
                    "description": "authType 이 none 이 아닐 때 필수. 저장 후 다시 조회할 수 없습니다.",
                    "example": "sk-live-9876543210"
                  },
                  "force": {
                    "type": "boolean",
                    "default": false,
                    "description": "true 면 연결 검증 없이 저장합니다(복구용). status 가 untested 가 되어 통화에서 사용되지 않습니다.",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "교체 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpConnection"
                }
              }
            }
          },
          "400": {
            "description": "입력값 검증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "연결을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "새 자격증명으로 MCP 서버 연결에 실패함(기존 자격증명은 그대로 유지됨)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "연결 검증을 수행할 수 없음(잠시 후 재시도하거나 force 사용)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/mcp-connections/{connectionId}/test": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "계정 ID"
        },
        {
          "name": "connectionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "MCP 연결 ID"
        }
      ],
      "post": {
        "operationId": "testMcpConnection",
        "summary": "외부 MCP 연결 테스트",
        "description": "실제 통화를 처리하는 런타임에서 MCP 서버에 접속해 도구 목록을 가져옵니다. 브라우저나 API 서버가 아니라 통화 런타임이 직접 연결하므로, 테스트 성공은 실제 통화에서도 같은 경로로 연결된다는 뜻입니다.\n\n성공하면 status 가 tested 가 되고 발견된 도구 목록이 저장됩니다. 에이전트에 연결하려면 이 테스트를 먼저 통과해야 합니다.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "연결 성공(도구 목록 갱신됨)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpConnection"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "연결을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "서버가 노출한 도구가 너무 많음(최대 50개)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "MCP 서버 연결 실패. code 로 사유를 구분합니다 — URL_BLOCKED(차단된 주소), AUTH_FAILED(인증 실패), TIMEOUT, TLS_ERROR, PROTOCOL_ERROR.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "연결 테스트를 수행할 수 없음(잠시 후 재시도)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls": {
      "post": {
        "operationId": "createCall",
        "summary": "발신 전화 생성",
        "description": "아웃바운드 전화를 발신합니다. From 번호는 계정에 등록된 번호여야 합니다.\n\n**전화 발신**: To에 전화번호를 입력하면 일반 전화로 발신됩니다.\n- 예: `\"To\": \"01012345678\"`\n\n**매니지드 에이전트**: `AgentId`를 지정하면 콘솔에서 만든 AI 에이전트가 통화를 처리합니다.\n이때 `CallContext`로 **이번 통화에만** 적용되는 요구사항(`Instruction`)과 참조 데이터\n(`Variables`)를 얹을 수 있습니다. 콘솔에 저장된 에이전트 설정은 바뀌지 않으므로 같은\n에이전트로 동시에 거는 다른 통화에는 영향이 없습니다. `AgentId` 모드 전용이라 다른\n모드와 함께 보내면 400으로 거절됩니다.\n\n**Agent SDK**: `Url`, `AgentId`, `CallFlowId`를 모두 생략하면 From 번호에 연결된\nAgent SDK로 통화가 연결됩니다. Agent가 연결되어 있지 않으면 409 에러를 반환합니다.\n\n`Url`, `AgentId`, `CallFlowId`는 서로 배타적입니다. `201 Created`는 발신 요청이\n큐에 들어갔다는 뜻이며 통화 연결 성공을 뜻하지 않습니다. 반환된 `callId`를\n`GET /v1/accounts/{accountId}/calls/{callId}`로 조회해 최종 상태를 확인하세요.\n\n**AI Completion 모드는 종료되었습니다.** AI 필드를 포함한 요청은 410으로 거절됩니다.\nUrl(VoiceML), AgentId, CallFlowId 또는 Agent SDK를 사용하세요.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "To",
                  "From"
                ],
                "properties": {
                  "To": {
                    "type": "string",
                    "description": "수신 전화번호",
                    "example": "01012345678"
                  },
                  "From": {
                    "type": "string",
                    "example": "07052358010",
                    "description": "발신 번호 (계정에 등록된 번호)"
                  },
                  "Url": {
                    "type": "string",
                    "example": "https://my-app.com/voiceml",
                    "description": "통화 연결 시 VoiceML을 반환할 URL. AgentId·CallFlowId와 배타."
                  },
                  "AgentId": {
                    "type": "string",
                    "example": "cmagent123",
                    "description": "콘솔에서 만든 매니지드 에이전트 ID. Url·CallFlowId와 배타."
                  },
                  "CallContext": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "AgentId 에이전트의 이번 통화에만 적용되는 컨텍스트.",
                    "required": [
                      "Instruction"
                    ],
                    "properties": {
                      "Instruction": {
                        "type": "string",
                        "maxLength": 4000,
                        "description": "이번 통화에서 수행할 실행 요구사항."
                      },
                      "Variables": {
                        "type": "object",
                        "maxProperties": 50,
                        "additionalProperties": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        },
                        "description": "요구사항에서 참조할 통화별 구조화 데이터."
                      }
                    }
                  },
                  "CallFlowId": {
                    "type": "string",
                    "example": "cmryw3ycm000001s6on0kp9a8",
                    "description": "콜 플로우(결정적 ARS) ID. 지정하면 그 플로우가 통화를 진행합니다. Url·AgentId와 동시에 사용할 수 없습니다. ID는 `GET /v1/accounts/{accountId}/call-flows`로 조회합니다.\n"
                  },
                  "Variables": {
                    "type": "object",
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    },
                    "example": {
                      "name": "홍길동",
                      "orderId": "A-1234"
                    },
                    "description": "콜 플로우 시작 변수. 멘트·URL·본문의 `{{이름}}`이 이 값으로 치환됩니다. CallFlowId와 함께일 때만 사용할 수 있습니다(단독 지정 시 400).\n\n값은 문자열로 정규화되며 숫자·불리언도 허용합니다. 이름은 영문/숫자/밑줄이어야 하고 숫자로 시작할 수 없습니다. 최대 50개, 전체 8KB. `caller`·`callee`·`recording_url`·`recording_duration`·`http_status`는 통화 중 자동으로 채워지는 예약 변수라 지정할 수 없습니다(400).\n\n지정하지 않은 `{{변수}}`는 빈 문자열로 치환됩니다.\n"
                  },
                  "Timeout": {
                    "type": "integer",
                    "example": 60,
                    "description": "벨 대기 시간 (초). 상대가 받지 않으면 이 시간 뒤 `no-answer` 로 종료됩니다. 미지정이거나 유효하지 않으면 30초, 600초를 넘으면 600초로 제한됩니다.\n"
                  },
                  "StatusCallback": {
                    "type": "string",
                    "example": "https://my-app.com/status",
                    "description": "통화 상태 변경 시 콜백을 받을 URL"
                  },
                  "StatusCallbackEvent": {
                    "type": "string",
                    "example": "initiated ringing answered completed transfer",
                    "description": "수신할 상태 이벤트 목록(공백 구분). 미지정 시 `initiated ringing answered completed` 가 적용됩니다. `transfer`(호전환 진행 상황)는 기본에 포함되지 않으므로 받으려면 직접 나열하세요. 전체 목록은 [Webhooks](/webhooks).\n"
                  },
                  "MachineDetection": {
                    "type": "string",
                    "enum": [
                      "Enable",
                      "Hangup"
                    ],
                    "description": "자동응답기/음성사서함 감지(AMD). Enable=감지 후 AnsweredBy 통보(통화 계속), Hangup=음성사서함이면 자동 종료. 미설정 시 비활성(기본).\n"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "To",
                  "From"
                ],
                "properties": {
                  "To": {
                    "type": "string",
                    "description": "수신 번호"
                  },
                  "From": {
                    "type": "string",
                    "description": "발신 번호 (계정에 등록된 번호)"
                  },
                  "Url": {
                    "type": "string",
                    "description": "통화 연결 시 VoiceML을 반환할 URL. AgentId·CallFlowId와 배타."
                  },
                  "AgentId": {
                    "type": "string",
                    "description": "콘솔에서 만든 매니지드 에이전트 ID. Url·CallFlowId와 배타."
                  },
                  "CallContext": {
                    "type": "string",
                    "example": "{\"Instruction\":\"예약 가능 여부를 확인한다\",\"Variables\":{\"preferredTime\":\"15:00\"}}",
                    "description": "AgentId 에이전트의 이번 통화에만 적용되는 컨텍스트 JSON 객체 문자열."
                  },
                  "CallFlowId": {
                    "type": "string",
                    "description": "콜 플로우(결정적 ARS) ID. Url·AgentId와 배타."
                  },
                  "Variables": {
                    "type": "string",
                    "example": "{\"name\":\"홍길동\",\"orderId\":\"A-1234\"}",
                    "description": "콜 플로우 시작 변수. form 인코딩에서는 **JSON 객체 문자열**로 보냅니다 (JSON 본문에서는 객체 그대로). 규칙은 JSON 스키마의 Variables와 같습니다.\n"
                  },
                  "Timeout": {
                    "type": "integer",
                    "description": "벨 대기 시간 (초). 미지정이거나 유효하지 않으면 30초, 600초를 넘으면 600초로 제한.\n"
                  },
                  "StatusCallback": {
                    "type": "string",
                    "description": "통화 상태 변경 시 콜백을 받을 URL"
                  },
                  "StatusCallbackEvent": {
                    "type": "string",
                    "description": "수신할 상태 이벤트 목록 (공백 구분)"
                  },
                  "MachineDetection": {
                    "type": "string",
                    "enum": [
                      "Enable",
                      "Hangup"
                    ],
                    "description": "자동응답기/음성사서함 감지(AMD). Enable=감지 후 AnsweredBy 통보(통화 계속), Hangup=음성사서함이면 자동 종료. 미설정 시 비활성(기본).\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "발신 요청이 큐에 등록됨. 실제 연결 여부는 반환된 callId를 조회해 확인합니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청. 다음 케이스에서 발생:\n  - 필수 파라미터 누락 (To, From)\n  - From 번호 미등록\n  - Url·AgentId·CallFlowId를 동시에 지정\n  - Variables를 CallFlowId 없이 지정하거나 이름·값·크기 규칙 위반\n  - Url 또는 StatusCallback에 내부/사설 주소 지정\n  - To 전화번호 정규화 실패. `code` 필드:\n    - `INVALID_PHONE_NUMBER`: 한국 번호 형식 아님 (포맷 오류, 자릿수 오류, +82-15XX 대표번호 E.164 등)\n    - `UNSUPPORTED_COUNTRY`: 국제 발신 미지원 (+82 외 국가코드)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음 또는 활성 구독 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "AgentId 또는 CallFlowId에 해당하는 대상을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "From 번호에 연결된 Agent가 없습니다 (Url 미지정 시)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "종료된 AI Completion 모드 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "통화 분 할당량 초과, 발신 미지원 플랜, AMD 애드온 비활성, 또는 수신거부 명단에 등록된 번호 (`recipient_blocked`). 수신거부로 막힌 경우 통화기록에 `hangup_cause=recipient_blocked` 로 남아 나중에 몇 건이 걸러졌는지 확인할 수 있습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "동시 통화 한도 초과 (플랜의 maxAgents 초과)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "발신 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "발신을 처리할 콜 노드가 일시적으로 준비되지 않음 (`code: ARI_NOT_READY` / `service_unavailable`). 재시도 가능.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCalls",
        "summary": "통화 목록 조회",
        "description": "계정의 통화 로그를 페이지네이션으로 조회합니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "ringing",
                "in-progress",
                "completed",
                "busy",
                "no-answer",
                "failed",
                "canceled",
                "rejected"
              ]
            },
            "description": "통화 상태로 필터링. 실패 사유를 더 세분해 조회하려면 `hangupCause` 를 사용하세요.\n",
            "example": "completed"
          },
          {
            "name": "from",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "example": "07052358010"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "07052358010",
                    "07012345678"
                  ]
                }
              ]
            },
            "description": "발신번호로 필터링. 단일 값 또는 배열 (?from=070...&from=070...)",
            "example": "07052358010"
          },
          {
            "name": "to",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "example": "01012345678"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "01012345678",
                    "07012345678"
                  ]
                }
              ]
            },
            "description": "수신번호로 필터링. 단일 값 또는 배열 (?to=010...&to=010...)",
            "example": "01012345678"
          },
          {
            "name": "number",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "example": "07052358010"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "07052358010",
                    "07012345678"
                  ]
                }
              ]
            },
            "description": "관여 번호로 필터링 (from OR to 매칭). 해당 번호가 발신 또는 수신에 포함된 통화를 조회합니다. 단일 값 또는 배열",
            "example": "07012345678"
          },
          {
            "name": "since",
            "in": "query",
            "allowReserved": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "이 시각 **이후**(포함) 시작된 통화만. ISO 8601.",
            "example": "2026-08-01T00:00:00Z"
          },
          {
            "name": "until",
            "in": "query",
            "allowReserved": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "이 시각 **이전**(미포함) 시작된 통화만. ISO 8601. `since` 와 함께 쓰면 구간이 겹치지 않게 이어붙일 수 있습니다.\n",
            "example": "2026-09-01T00:00:00Z"
          },
          {
            "name": "minDuration",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647
            },
            "description": "통화 시간(초) 하한. 이 값 **포함**.",
            "example": 10
          },
          {
            "name": "maxDuration",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 2147483647
            },
            "description": "통화 시간(초) 상한. 이 값 **포함**. `minDuration=0&maxDuration=0` 이면 0초 통화만.",
            "example": 60
          },
          {
            "name": "hangupCause",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "example": "concurrency_limit_exceeded"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "concurrency_limit_exceeded",
                    "invalid_number"
                  ]
                }
              ]
            },
            "description": "종료 사유로 필터링. `status` 가 실패를 한 덩어리로 묶는 것과 달리 **왜** 끝났는지로 가릅니다 — 채널 초과(`concurrency_limit_exceeded`)·결번(`invalid_number`)· ClawOps 오류(`app_error`) 등. 종료 사유 필터는 [Calls API](/api-reference/claw-ops-api/calls/list-calls)를 참고하세요. 단일 값 또는 배열.\n",
            "example": "concurrency_limit_exceeded"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "페이지당 항목 수 (최대 100)",
            "example": 20
          },
          {
            "name": "page_size",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "`pageSize` 의 별칭(하위호환). 신규 연동은 `pageSize` 를 사용하세요.",
            "example": 50
          },
          {
            "name": "limit",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "maximum": 100
            },
            "description": "`pageSize` 의 별칭(하위호환). 신규 연동은 `pageSize` 를 사용하세요.",
            "example": 100
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "페이지 번호 (0부터 시작)",
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "통화 목록",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallListResponse"
                }
              }
            }
          },
          "400": {
            "description": "pageSize 또는 page가 정수가 아닌 경우",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls/{callId}": {
      "get": {
        "operationId": "getCall",
        "summary": "통화 단건 조회",
        "description": "특정 통화의 상세 정보를 조회합니다.",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "통화 ID",
            "example": "CAabcdef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "통화 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateCall",
        "summary": "통화 제어 (종료)",
        "description": "진행 중인 통화를 종료합니다. 현재 Status=completed만 지원합니다.\n\n벨이 울리는 중(queued/ringing)에도 호출할 수 있고, 이때는 통화가 연결되기 전에 취소됩니다.\n\n**200 이 아니면 취소되지 않은 것입니다.** 실패는 조용히 성공으로 처리되지 않으니 상태 코드를 확인하고, 503(일시적)은 재시도하세요.\n",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "통화 ID",
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Status"
                ],
                "properties": {
                  "Status": {
                    "type": "string",
                    "enum": [
                      "completed"
                    ],
                    "description": "변경할 통화 상태 (현재 completed만 지원)",
                    "example": "completed"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "처리 완료",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallControlResponse"
                }
              }
            }
          },
          "400": {
            "description": "지원되지 않는 Status 값",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "접근 권한 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "콜을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "종료할 수 있는 통화가 아님 (`code: hangup_not_applicable`) — 통화를 처리 중인 콜 노드가 해당 통화를 모르는 상태. 응답에 현재 `status` 가 함께 실립니다.\n",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "callId": {
                          "type": "string",
                          "description": "대상 통화 ID",
                          "example": "CA1234567890abcdef"
                        },
                        "status": {
                          "type": "string",
                          "description": "되읽은 현재 통화 상태 (종료되지 않았음)",
                          "example": "ringing"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "502": {
            "description": "통화 처리 계층에서 종료 실패 (`code: hangup_failed`). 재시도 가능.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "통화를 처리 중인 콜 노드를 일시적으로 찾을 수 없거나 준비되지 않음 (`code: CALL_NODE_UNAVAILABLE` / `ARI_NOT_READY` / `hangup_unavailable`). 재시도 가능.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/calls/{callId}/actions/play": {
      "post": {
        "operationId": "playIntoCall",
        "summary": "통화 중 안내 재생",
        "description": "진행 중인 통화에 안내 음성을 넣습니다. `<Dial>` 로 **연결된 통화**에만 사용할 수 있으며, 통화를 끊지 않고 오디오만 얹습니다.\n\n`text` 를 주면 그 문장을 읽어 주고, `url` 을 주면 그 오디오 파일을 재생합니다 (둘 중 하나만 지정). 재생 대상은 `target` 으로 고릅니다 — 기본값은 양쪽 모두입니다.\n\n**접수만 하고 즉시 202 로 응답합니다.** 재생이 끝날 때까지 기다리지 않습니다.\n\n아직 연결되지 않았거나(벨 울리는 중) 이미 끝난 통화, 앞선 안내가 재생 중인 통화는 409 로 거절됩니다.\n",
        "tags": [
          "Calls"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "계정 ID",
            "example": "AC1a2b3c4d"
          },
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "통화 ID",
            "example": "CA1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "읽어 줄 문장. `url` 과 함께 쓸 수 없습니다.",
                    "example": "잔액이 5분 남았습니다."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "재생할 오디오 파일 URL (mp3/wav). `text` 와 함께 쓸 수 없습니다.",
                    "example": "https://example.com/notice.mp3"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "ko",
                      "en",
                      "ja"
                    ],
                    "default": "ko",
                    "description": "`text` 를 읽을 언어. 기본값: ko",
                    "example": "ko"
                  },
                  "voice": {
                    "type": "string",
                    "description": "`text` 를 읽을 음성. VoiceML `<Say>` 의 `voice` 와 같은 형식입니다 — 생략하면 무료 기본 음성으로 읽고(요금 없음), `cartesia` 또는 `cartesia:<음성 ID>` 를 지정하면 고품질 음성으로 읽으며 읽은 글자 수만큼 과금됩니다. 통화 중 다른 안내와 음색을 맞추려면 `<Say>` 에 쓴 값과 같은 값을 주세요.\n",
                    "example": "cartesia:4dd4630e-19e0-4243-bca0-676ff85119b7"
                  },
                  "target": {
                    "type": "string",
                    "enum": [
                      "both",
                      "caller",
                      "callee"
                    ],
                    "default": "both",
                    "description": "재생 대상. both=양쪽 모두 / caller=발신자만 / callee=연결된 상대만. 기본값: both\n",
                    "example": "both"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "재생 접수됨",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
